/* Подключаем файл обнуляющий css по умолчанию */
@import url("./normalize.css");

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// Цвета
	--main-bg-color: #0F1119;
}

#root {
	height: 100dvh;
}

.canvas {
	background-color: var(--main-bg-color);
}