/* Подключаем файл обнуляющий css по умолчанию */
@import url("./normalize.css");

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	// Цвета
	--white: #FFFFFF;
	--dark-blue: #202229;
	--darker-blue: #2C2E35;
	--gray: #6B6B6B;
	--light-gray: #A9ABAD;
	--yellow: #FECE26;
	--black: #0F1119;
	--off-white: #FFF9F9;
	--medium-gray: #646464;
	--charcoal: #272727;
	--dark-charcoal: #2F3138;
	--steel: #5E5F60;
	--red: #EB3F3F;
	--silver: #B6B6B6;
	--orange: #B38C05;
	--gold: #DEB422;
	--almost-black: #1F1F1F;
	--blue: #3B6FBD;
	--dark-gray: #3F3F3F;
	--medium-dark-gray: #737373;
	--green: #4DEB3F;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100dvh;
	user-select: none;
	position: fixed;
	left: 0;
	right: 0;
	background-color: var(--black);
}